<h1>Shopping Cart</h1>
<ng-container>
  <p>
    You have {{ cart.totalItems }} items in your shopping cart.
  </p>
  <table class="table">
    <caption>Items added to your shopping cart</caption>
    <thead>
    <tr>
      <th id="productHeader">Product</th>
      <th id="quantityHeader">Quantity</th>
      <th id="priceHeader">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cart.items">
      <td>
        {{ item.title }}
      </td>
      <td>
        {{ item.quantity }}
        <product-quantity [product]="item" [shoppingCart]="cart"></product-quantity>
      </td>
      <td>
        {{ item.totalPrice | currency:'GBP':true}} ({{ item.price | currency:'GBP':true }})
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th id="totalPriceHeader">{{ cart.totalPrice | currency:'GBP':true }}</th>
    </tr>
    </tfoot>
  </table>
</ng-container>
