<div
  class="card">
  <img [src]="product.payload.val().imageUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{ product.payload.val().title }}</h5>
    <p class="card-text"> {{ product.payload.val().price | currency:'GBP':true}}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
      *ngIf="shoppingCart.getQuantityOf(product.key) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-primary btn-block">
      Add to cart
    </button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shoppingCart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>
