<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<div class="mat-app-background basic-container">
  <mat-form-field class="product-filter">
    <mat-label for="search">Search...</mat-label>
    <input id="search" matInput type="text" [(ngModel)]="this.query" (keyup)="filter(query)">
    <button mat-button *ngIf="this.query" matSuffix mat-icon-button aria-label="Clear" (click)="this.query=''">
      <mat-icon aria-hidden="false">close</mat-icon>
    </button>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>

  <!--  Title column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <th mat-cell *matCellDef="let product"> {{ product.payload.val().title }}</th>
  </ng-container>

  <!--  Price column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <th mat-cell *matCellDef="let product"> {{ product.payload.val().price | currency:'GBP':true}}</th>
  </ng-container>

  <!--  Category column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
    <th mat-cell *matCellDef="let product"> {{ product.payload.val().category }}</th>
  </ng-container>

  <!-- Edit column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <th mat-cell *matCellDef="let product"><a [routerLink]="product.key">Edit</a></th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No matching data for the filter "{{query}}"</td>
  </tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

