<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="save(form.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" name="title" id="title" type="text" class="form-control" [value]="title">
        <div *ngIf="(_title.touched || _title.dirty) && (_title.value === '')" class="alert alert-danger">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group input-group-prepend">
          <span class="input-group-text">£
            <input formControlName="price" name="price" id="price" type="number" class="form-control" [value]="price">
          </span>
        </div>
        <div *ngIf="(_price.touched || _price.dirty) && _price.errors" class="alert alert-danger">
          <div *ngIf="_price.errors.required"> Price is required. </div>
          <div *ngIf="_price.errors.min"> Price cannot be lower than 0. </div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select formControlName="category" name="category" id="category" class="form-control" [value]="category">
          <option value="">Select a category...</option>
          <option *ngFor="let c of categories$ | async" [value]="c.payload.val().name">
            {{ c.payload.val().name }}
          </option>
        </select>
        <div *ngIf="_category.touched && _category.invalid" class="alert alert-danger">
          Category is required.
        </div>
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        <input formControlName="imageUrl" name="imageUrl" id="image" type="text" class="form-control" [value]="imageUrl">
        <div *ngIf="_imageUrl.touched && _imageUrl.errors?.required" class="alert alert-danger"> Image URL is required. </div>
        <div *ngIf="_imageUrl.touched && _imageUrl.errors?.pattern" class="alert alert-danger"> This is not a valid URL. </div>
      </div>
      <button class="btn btn-primary" [disabled]="!form.touched || form.invalid">Save</button>
    </form>
  </div>
  <div class="col-md-6" style="padding-top: 40px;">
    <div class="card" style="padding: 5px; width: 18rem;">
      <img [src]="imageUrl" class="card-img-top" alt="Image for the item">
      <div class="card-body">
        <h4 class="card-title"> {{ title }}</h4>
        <p class="card-title">  {{ price | currency:'GBP':true}}</p>
      </div>
    </div>
  </div>
</div>

