<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]="this.product.title" name="title" id="title" type="text" class="form-control" required>
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
          <div *ngIf="title.errors.required"> Title is required. </div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group input-group-prepend">
          <span class="input-group-text">£
            <input #price="ngModel" [(ngModel)]="this.product.price" name="price" id="price" type="number" class="form-control" required min="0">
          </span>
        </div>
        <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
          <div *ngIf="price.errors.required"> Price is required. </div>
          <div *ngIf="price.errors.min"> Price cannot be lower than 0. </div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="this.product.category" name="category" id="category" class="form-control" required>
          <option value="">Select a category...</option>
          <option *ngFor="let c of categories$ | async" [value]="c.payload.val().name">
            {{ c.payload.val().name }}
          </option>
        </select>
        <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
          <div *ngIf="category.errors.required"> Category is required. </div>
        </div>
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        <input #imageUrl="ngModel" [(ngModel)]="this.product.imageUrl" name="imageUrl" id="image" type="text" class="form-control" required
               pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
        <div *ngIf="imageUrl.touched && imageUrl.invalid" class="alert alert-danger">
          <div *ngIf="imageUrl.errors.required"> Image URL is required. </div>
          <div *ngIf="imageUrl.errors.pattern"> This is not a valid URL. </div>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="!f.touched || f.invalid">Save</button>
      <button class="btn btn-danger" (click)="delete()" [disabled]="!this.key">Delete</button>
    </form>
  </div>
  <div class="col-md-6" style="padding-top: 40px;">
    <div class="card" style="padding: 5px; width: 18rem;">
      <img *ngIf="this.product.imageUrl" [src]="this.product.imageUrl" class="card-img-top" alt="Image for the item">
      <div class="card-body">
        <h4 class="card-title"> {{ this.product.title }}</h4>
        <p class="card-title">  {{ this.product.price | currency:'GBP':true}}</p>
      </div>
    </div>
  </div>
</div>

